[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycaw = "*"
keyboard = "*"

[dev-packages]
pyinstaller = "*"
bump2version = "*"

[requires]
python_version = "3.12"
